 <h1> MES AMIS</h1>
 <hr>

 <% for (amis of amis) { %>
 

    <h2>Membre : <%= amis.name %></h2>
     <a class="btn btn-danger" href="/users/amis/<%= amis._id %>/delete" role="button">Supprimer</a>
    
    
    
   
 <% } %>