<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%=user.name %></p> 
<form action="/ajout" method="POST">
    <div class="form-group">
      <label for="Race">Race</label>
      <input
        type="Race"
        id="Race"
        name="Race"
        class="form-control"
        placeholder="Enter Race"
      />
    </div>
    <div class="form-group">
      <label for="Age">Age</label>
      <input
        type="Age"
        id="Age"
        name="Age"
        class="form-control"
        placeholder="Enter Age"
      />
    </div>
    <div class="form-group">
      <label for="Famille">Famille</label>
      <input
        type="Famille"
        id="Famille"
        name="Famille"
        class="form-control"
        placeholder="Create Famille"
      />
    </div>
    <div class="form-group">
      <label for="Nouriture">Nouriture</label>
      <input
        type="Nouriture"
        id="Nouriture"
        name="Nouriture"
        class="form-control"
        placeholder="Create Nouriture"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Ajout
    </button>
  </form>
  <br></br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/users/informations" class="btn btn-primary">Mes informations</a>
<a href="/users/membre" class="btn btn-success">les membres dinosaures</a>



