<h1 class="mt-4">Mes infos</h1>
<a href="javascript:history.go(-1);" class="btn btn-secondary">retour</a>
<br></br>
<hr>
<% for (info of info) { %>
    <h3>Age : <%= info.age %></p>
    <p>Race : <%= info.race %></p>
    <p>Famille : <%= info.famille %></p>
    <p>Nouriture : <%= info.nouriture %></p>
    <a class="btn btn-danger" href="/users/informations/<%= info._id %>/delete" role="button">Supprimer</a>
    
    <hr>



    <h1 class="mt-4"> Modification de mes informations </h1>



<form action="/users/<%= info._id %>/update" method="POST">
    <div class="form-group">
      <label for="Race">Race</label>
      <input
        type="Race"
        id="Race"
        name="Race"
        class="form-control"
        placeholder="Enter Race"
      />
    </div>
    <div class="form-group">
      <label for="Age">Age</label>
      <input
        type="Age"
        id="Age"
        name="Age"
        class="form-control"
        placeholder="Enter Age"
      />
    </div>
    <div class="form-group">
      <label for="Famille">Famille</label>
      <input
        type="Famille"
        id="Famille"
        name="Famille"
        class="form-control"
        placeholder="Create Famille"
      />
    </div>
    <div class="form-group">
      <label for="Nouriture">Nouriture</label>
      <input
        type="Nouriture"
        id="Nouriture"
        name="Nouriture"
        class="form-control"
        placeholder="Create Nouriture"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-blo
    <button type="submit" class="btn btn-primary btn-block">
      update
    </button>
  </form>

    </div>
    
  <% } %>

