<h1 class="mt-4">Les membres DINO</h1>

<a href="javascript:history.go(-1);" class="btn btn-secondary">retour</a>

<hr>


<% for (user of user) { %>
    
    <h2>Membre : <%= user.name %></h2><hr>
    
 
    <% for(n in user.amis){ %>

    	<%= user.amis[n] %>
    <%}%>
  
   
 <% } %>
 <form action="/users/<%=user._id%>/membre" method="POST">
 	<div class="form-group">
      <label for="Amis">Recherche Amis</label>
      <input
        type="Amis"
        id="Amis"
        name="Amis"
        class="form-control"
        placeholder="Rechercher Amis"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block">
      Ajout Amis
    </button>
 </form>
 
<hr>
<a href="/users/amis" class="btn btn-primary">Mes amis dinosaures</a>

  